div#maincontent {
    height: 100px;
    width: 500px;
    border: 1px solid #CEE2FA;
    text-align: left;
    color: #08438E;
    font-family: calibri;
    font-size: 20;
    padding: 5px;
    margin-left: 10px;
}